<div class="loading-shade-full" style="background: rgba(0, 0, 0, 0.12) !important; width: 100%; height: 100%" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading">
  </mat-spinner>
</div>
<mat-toolbar>
  <mat-toolbar-row *ngIf="!selection.selected.length && !showFilter&[Name]&">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <span fxHide.xs class="mat-title mb-0">{{'Lista de &[names]&'}}</span>
      <span fxHide fxShow.xs class="mat-title mb-0">{{'&[Names]&'}}</span>
      <div fxHide.xs>
        <button mat-button (click)="showSearchForm()">
          <mat-icon>search</mat-icon>
          <span fxHide.xs>{{'Buscar'}}</span>
        </button>
        <button mat-button (click)="refreshData()">
          <mat-icon>refresh</mat-icon>
          <span fxHide.xs>{{'Refrescar'}}</span>
        </button>
        <button mat-button (click)="onCreate&[Name]&()">
          <mat-icon>add</mat-icon>
          <span fxHide.xs>{{'Adicionar'}}</span>
        </button>
      </div>
      <div fxHide fxShow.xs>
        <button mat-icon-button (click)="showSearchForm()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button (click)="refreshData()">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="onCreate&[Name]&()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="showFilter&[Name]& && !selection.selected.length">
    <form class="example-full-width" [formGroup]="searchForm">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <button mat-icon-button>
          <mat-icon matPrefix>search</mat-icon>
        </button>
        <input [formControl]="searchForm.controls['textCtrl']" placeholder="{{'Entre su texto de búsqueda'}}"
          class="example-full-width search-input" type="text" autofocus>
        <div>
          <button mat-icon-button (click)="hideSearchForm()">
            <mat-icon aria-label="Cerrar">close</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="selection.selected.length">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
      <div>
        <span fxHide.xs class="mat-title mb-0">{{selection.selected.length}}</span>
        <span fxHide.xs class="ml-2 mat-title mb-0">{{'elementos seleccionados'}}</span>
      </div>
      <div>
        <button *ngIf="selection.selected.length==1" mat-button (click)="onEdit&[Name]&(selection.selected[0])">
          <mat-icon >edit</mat-icon>
          <span fxHide.xs>{{'Editar'}}</span>
        </button>
        <button mat-button (click)="onRemove&[Names]&(selection.selected)">
          <mat-icon >remove</mat-icon>
          <span fxHide.xs>{{'Eliminar'}}</span>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="responsive_table">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" >

    <ng-container matColumnDef="select">
      <th style="width: 7%;" mat-header-cell *matHeaderCellDef mat-sort-header>
        <div fxLayout="column" fxLayoutAlign="start start">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">
        <div fxLayout="column" fxLayoutAlign="start start">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </div>

      </td>
    </ng-container>

    //startRemplace
    function run(schema){
      let result = ''
      for(let key in schema){
        if(schema[key].showFieldInTable){
          switch(schema[key].type){
            case "STRING":
            result += `<ng-container matColumnDef="${key}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <span class="mat-body-1"> {{element.${key}}}</span>
                        </td>
                      </ng-container> \n \t \t`
            break;
            case "NUMBER":
            result += `<ng-container matColumnDef="${key}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <span class="mat-body-1"> {{element.${key}}}</span>
                        </td>
                      </ng-container> \n \t \t`
            break;
            case "ENUM":
            result += `<ng-container matColumnDef="${key}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <span class="mat-body-1"> {{element.${key}}}</span>
                        </td>
                      </ng-container> \n \t \t`
            break;
            case "BOOLEAN":
            result += `<ng-container matColumnDef="${key}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <span style="color: #43a047;" *ngIf="element.${key}==true" class="material-icons">
                            done
                          </span>
                          <span style="color: #e53935;" *ngIf="!element.${key}" class="material-icons">
                            clear
                          </span>
                        </td>
                      </ng-container> \n \t \t`
            break;
            case "LONG-STRING":
            result += `<ng-container matColumnDef="${key}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <p class="mat-body-1"> {{element.${key}}}</p>
                        </td>
                      </ng-container> \n \t \t`
            break;
            case "IMAGE":
            result += `<ng-container matColumnDef="${key}">
                        <th mat-header-cell *matHeaderCellDef >
                          <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <img *ngIf="!element.${key}" src="assets/images/noImage.jpg"
                          style="width: auto;height: 50px; object-fit: cover; margin-top: 4px;">
                        <img *ngIf="element.${key}" [src]="imageUrl + element.${key}"
                          style="width: auto;height: 50px;object-fit: cover;margin-top: 4px;">
                        </td>
                      </ng-container> \n \t \t`
            break;
            case "JSON":
            if(schema[key].isForTranslate){
              result += `<ng-container matColumnDef="${key}" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header >
                  <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mat-body-1"> {{element.${key} | parseLang: language }}</span>
                </td>
              </ng-container> \n \t \t`
            }else{
              result += `<ng-container matColumnDef="${key}">
                <th mat-header-cell *matHeaderCellDef >
                  <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <span class="mat-body-1"> {{JSON.stringify(element.${key},null,2)}}</span>
                </td>
              </ng-container> \n \t \t`

            }
            break;
            case "DATE":
            result += `<ng-container matColumnDef="${key}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <p class="mat-body-1"> {{element.${key} | date}}</p>
                        </td>
                      </ng-container> \n \t \t`
            break;
            case "DATEONLY":
            result += `<ng-container matColumnDef="${key}">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <p class="mat-body-1"> {{element.${key} | date}}</p>
                        </td>
                      </ng-container> \n \t \t`
            break;
            case "REFERENCE":
            if(!schema[key].isMultiple){
              result += `<ng-container matColumnDef="${key}">
                <th mat-header-cell *matHeaderCellDef >
                  <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <p class="mat-body-1"> {{ element?.${key.split('Id')[0]}?.${schema[key].targetAttribute} }}</p>
                </td>
              </ng-container> \n \t \t`
            }else{
              result += `<ng-container matColumnDef="${key}">
                <th mat-header-cell *matHeaderCellDef >
                  <span class="mat-body-2" style="text-transform: capitalize;">{{'${key}'}}</span>
                </th>
                <td mat-cell *matCellDef="let element">
                  <ul class="m-0" *ngFor="let item of element?.${key}">
                    <li>
                      <p class="mat-body-1 m-0"> {{ item?.${schema[key].targetAttribute} }}</p>
                    </li>
                  </ul>
                
                </td>
              </ng-container> \n \t \t`
            }
            break;
          }
        }
      } 
      return result
    }
    //endRemplace

    <ng-container matColumnDef="actions">
      <th style="width:3%;overflow:hidden;" mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <div id="actionsHover" fxLayout="row" fxLayoutAlign="end center">
          <button (click)="onEdit&[Name]&(element)" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="onRemove&[Names]&([element])" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

      <!-- filters -->
      <!-- Checkbox Column -->
      <ng-container matColumnDef="selectF">
        <th style="width: 5%" mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      //startRemplace
    function run(schema){
      let result = '';
      let i=0;
      for(let key in schema){
        if(schema[key].showFieldInTable){
          if(schema[key].type == "STRING" || schema[key].type == "NUMBER" || schema[key].type == "LONG-STRING" 
          || schema[key].type == "JSON"){
            result += `<ng-container matColumnDef="${key}F">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="remove-material-form-padding-bottom" style="width: 156px; margin-right: 8px" appearance="outline">
                  <mat-label style="text-transform: capitalize;"> {{ '${key}' }}</mat-label>
                  <input type="text" matInput [formControl]="formFilters.get('${key}')" placeholder="{{ '${key}' }}" />
                  <button matSuffix mat-icon-button (click)="formFilters.get('${key}').reset()">
                    <mat-icon> clear </mat-icon>
                  </button>
                </mat-form-field>
              </th>
            </ng-container> \n \t \t`
          } else if(schema[key].type == "BOOLEAN"){
            result += `<ng-container matColumnDef="${key}F">
              <th mat-header-cell *matHeaderCellDef>
                <mat-form-field class="remove-material-form-padding-bottom" style="width: 156px; margin-right: 8px" appearance="outline">
                  <mat-label style="text-transform: capitalize;"> {{ '${key}' }}</mat-label>
                  <mat-select [formControl]="formFilters.get('${key}')" placeholder="{{'${key}'}}">
                    <mat-option *ngFor="let ${key} of [{id:1,name:'True'},{id:0,name:'False'}];let i=index" [value]="${key}.id">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <span class="mat-body-2">
                          {{${key}.name}}
                        </span>
                      </div>
                    </mat-option>
                  </mat-select>
                  <button matSuffix mat-icon-button (click)="formFilters.get('${key}').reset()">
                    <mat-icon> clear </mat-icon>
                  </button>
                </mat-form-field>
              </th>
            </ng-container> \n \t \t`
          } else if(schema[key].type == "REFERENCE"){
            result += `<ng-container matColumnDef="${key}F">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field class="remove-material-form-padding-bottom" style="width: 156px; margin-right: 8px" appearance="outline">
                <mat-select multiple [formControl]="formFilters.get('${key}')" placeholder="{{'${key}'}}">
                  <mat-option *ngFor="let ${key} of all${schema[key].targetTable.substring(0,1).toUpperCase()}${schema[key].targetTable.substring(1,key.length)} ;let i=index" [value]="${key}.id">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <span class="mat-body-2">
                        {{${key}.${schema[key].targetAttribute}}}
                      </span>
                    </div>
                  </mat-option>
                </mat-select>
                <button matSuffix mat-icon-button (click)="formFilters.get('${key}').reset()">
                  <mat-icon> clear </mat-icon>
                </button>
                </mat-form-field>
              </th>
            </ng-container> \n \t \t`
          }else if(schema[key].type == "ENUM"){
            result += `<ng-container matColumnDef="${key}F">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field class="remove-material-form-padding-bottom" style="width: 156px; margin-right: 8px" appearance="outline">
                <mat-select multiple [formControl]="formFilters.get('${key}')" placeholder="{{'${key}'}}">
                  <mat-option *ngFor="let ${key} of all${key.substring(0,1).toUpperCase()}${key.substring(1,key.length)} ;let i=index" [value]="${key}">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <span class="mat-body-2">
                        {{${key}}}
                      </span>
                    </div>
                  </mat-option>
                </mat-select>
                <button matSuffix mat-icon-button (click)="formFilters.get('${key}').reset()">
                  <mat-icon> clear </mat-icon>
                </button>
                </mat-form-field>
              </th>
            </ng-container> \n \t \t`
          }else if(schema[key].type == "DATE" || schema[key].type == "DATEONLY" ){
            result += `<ng-container matColumnDef="${key}F">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field class="remove-material-form-padding-bottom" style="width: 156px; margin-right: 8px" appearance="outline">
                <input [formControl]="formFilters.get('${key}')" matInput [matDatepicker]="picker${i}">
                <mat-datepicker-toggle matSuffix [for]="picker${i}"></mat-datepicker-toggle>
                <mat-datepicker #picker${i}></mat-datepicker>
                <!-- <button matSuffix mat-icon-button (click)="formFilters.get('${key}').reset()">
                  <mat-icon> clear </mat-icon>
                </button> -->
                </mat-form-field>
              </th>
            </ng-container> \n \t \t`
          }
          else{
            result +=`<ng-container matColumnDef="${key}F">
              <th mat-header-cell *matHeaderCellDef></th>
            </ng-container>`
          }
        }
        i++;
      } 
      return result
    }
    //endRemplace


      <ng-container matColumnDef="actionsF">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsFilters"></tr>
    <tr mat-row class="rowData" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator (page)="OnPaginatorChange($event)" [pageSize]="query.limit" [length]="this.query.total"
    [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>