@import '../../../../../assets/scss/theme/variables';

:host {
  padding: 16px;
  position: relative;
  box-sizing: border-box;
  @media (max-width: 800px) {
    padding: 16px 2px !important;
  }
}

mat-toolbar-row {
  background-color: #fff !important;
}

mat-toolbar {
  background-color: #fff !important;
}

table {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

#actionsHover {
  color: #616161 !important;
}

.rowData {
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;

  &:hover {
    background-color: #eee;
  }
}

.responsive_table {
  max-height: 78vh;
  overflow: auto;
  padding: 1px;
  width: 100% !important;
  @media (max-width: 800px) {
    table {
      min-width: 800px !important;

      th {
        min-width: 80px !important;
      }

      #select {
        min-width: 60px !important;
      }

      #action {
        min-width: 60px !important;
      }
    }

    .mat-paginator {
      display: block;
      min-width: 800px !important;
    }
  }
}
