<div class="dialog-content-wrapper">

  <mat-toolbar class="mb-2" matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <span *ngIf="!isEditing" class="mat-title mb-0">{{'Add &[name]&'}}</span>
      <span *ngIf="isEditing" class="mat-title mb-0">{{'Edit &[name]&'}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <form [formGroup]="form">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx">

        //startRemplace
        function run(schema){
          let result = '';
          let showTranslateSelect = false;
          for(let key in schema ){
            if(schema[key].type == "JSON" && schema[key].isForTranslate){
              showTranslateSelect = true;
              break;
            }
          }
          if(showTranslateSelect){
           result = `<div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <span class="mat-body-2" style="text-transform: uppercase"
              >{{ 'Seleccione su idioma de creación' }}
              <mat-icon matTooltip="{{ 'El predeterminado es español' }}" class="iconHelp">help</mat-icon>
            </span>
          </div>
  
          <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
            <mat-form-field fxFlex="100" appearance="outline">
              <mat-label> {{ 'Language' }}</mat-label>
              <mat-select required [formControl]="languageForm" placeholder="{{ 'Language' }}">
                <mat-option *ngFor="let language of this.languages; let i = index" [value]="language.lang">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <img [src]="language.image" style="height: 30px; width: 30px" />
                    <span class="ml-2 mat-body-2">
                      {{ language.name }}
                    </span>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <mat-divider></mat-divider>`
          }
          return result;
        }
        //endRemplace
        

        //startRemplace
            function run(schema){
              let result = '';
              for(let key in schema){
                if(schema[key].type=='IMAGE'){
                  result+=`<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutAlign.lt-sm="center stretch" class="mb-2">
                    <div fxLayout="row" class="mt-2" fxLayoutAlign="start start" fxLayoutGap="gappx">
                      <span class="mat-body-2" style="text-transform: uppercase;">{{'Seleccione la imagen para ${key}'}}
                        <mat-icon matTooltip="{{'ALguna etiqueta de ayuda referida al ícono'}}" class="iconHelp">help
                        </mat-icon></span>
                    </div>
    
                    <ngp-image-picker [_imageSrc]="(this.isEditing)?imageUrl + selected&[Name]&.${key}:null" [_config]="imagePickerConf"
                      ($imageChanged)="on${key.substring(0,1).toUpperCase()}${key.substring(1,key.length)}ImageChange($event)"></ngp-image-picker>
                  </div>`
                }
              }
              return result
            }
        //endRemplace

        <div fxLayout="row wrap" class="mt-3" fxLayoutAlign="space-between start" fxLayoutGap="gappx">
          //startRemplace
          function run(schema){
            let result = '';
            let i=0;
            for(let key in schema){
              if(schema[key].type!='IMAGE' && !schema[key].noCreate){
                if(schema[key].type == "STRING" || schema[key].type == "NUMBER" || (schema[key].type == "JSON" && !schema[key].longTxt)){
                  result+=` 
                  <mat-form-field fxFlex="${schema[key].fxFlex || 48}" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>
                       <span style="text-transform: capitalize;">{{'${key}'}}</span>
                    </mat-label>
                    <input matInput [formControl]="form.get('${key}')" placeholder="{{'${key}'}}" ${schema[key].isRequired?'required':''} `
                
                  if(schema[key].isPassword){
                    result+=`type="password"></mat-form-field>`
                  }else if(schema[key].isEmail){
                    result+=`type="email"></mat-form-field>`
                  }else{
                    result+=`type="${schema[key].type == 'NUMBER'?'number':'text'}"></mat-form-field>`
                  }
                }else if((schema[key].type == "JSON" && schema[key].longTxt) || schema[key].type == "LONG-STRING"){
                  result+=` <mat-form-field fxFlex="${schema[key].fxFlex || 48}" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>
                       <span style="text-transform: capitalize;">{{'${key}'}}</span>
                    </mat-label>
                    <textarea ${schema[key].isRequired?'required':''}  rows="2" matInput  [formControl]="form.get('${key}')"
                    placeholder="{{'${key}'}}"></textarea>
                  </mat-form-field>`
                }else if(schema[key].type == "DATE" || schema[key].type == "DATEONLY"){
                  result+=`<mat-form-field fxFlex="${schema[key].fxFlex || 48}" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>
                       <span style="text-transform: capitalize;">{{'${key}'}}</span>
                    </mat-label>
                    <input ${schema[key].isRequired?'required':''} [formControl]="form.get('${key}')" matInput [matDatepicker]="picker${i}">
                    <mat-datepicker-toggle matSuffix [for]="picker${i}"></mat-datepicker-toggle>
                    <mat-datepicker #picker${i}></mat-datepicker>
                  </mat-form-field>`
                }else if(schema[key].type == "BOOLEAN"){
                  result+=`<mat-slide-toggle matTooltip="Toogle ${key}"
                          [formControl]="form.get('${key}')">
                          <span class="mat-body-2">${key}</span>
                          </mat-slide-toggle>`
                }else if(schema[key].type == "ENUM"){
                  result+=`<mat-form-field fxFlex="${schema[key].fxFlex || 48}" fxFlex.lt-md="100"  appearance="outline">
                    <mat-label>
                       <span style="text-transform: capitalize;">{{'${key}'}}</span>
                    </mat-label>
                    <mat-select ${schema[key].isRequired?'required':''} [formControl]="form.get('${key}')" placeholder="{{'${key}'}}">
                      <mat-option *ngFor="let ${key} of all${key.substring(0,1).toUpperCase()}${key.substring(1,key.length)} ;let i=index" [value]="${key}">
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <span class="mat-body-2">
                            {{${key}}}
                          </span>
                        </div>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>`
                }else if(schema[key].type == "REFERENCE"){
                  
                  result+=`<mat-form-field fxFlex="${schema[key].fxFlex || 48}" fxFlex.lt-md="100"  appearance="outline">
                    <mat-label> 
                      <span style="text-transform: capitalize;">{{'${key}'}}</span>
                    </mat-label>
                    <mat-select ${schema[key].isMultiple?'multiple':''}  ${schema[key].isRequired?'required':''} [formControl]="${schema[key].isMultiple?`form.get('${key}Ids')`:`form.get('${key}')`}" placeholder="{{'${key}'}}">
                      <mat-option *ngFor="let ${key} of all${schema[key].targetTable.substring(0,1).toUpperCase()}${schema[key].targetTable.substring(1,key.length)} ;let i=index" [value]="${key}.id">
                        <div fxLayout="row" fxLayoutAlign="start center">
                          <span class="mat-body-2">
                            {{${key}.${schema[key].targetAttribute}}}
                          </span>
                        </div>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>`
                }
              }
              i++;
            }
            return result;
          }
          //endRemplace
        </div>
      
      



      </div>

    </form>




  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
    <button mat-flat-button (click)="onSave()" [disabled]="this.form.invalid || isSaving" color="primary">{{'Guardar'}}</button>

  </div>

</div>
